In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('venda_aluguel.txt', sep='\t')
df.columns = ['acao', 'pessoa1', 'pessoa2', 'parcela', 'objeto', 'tipo_preco', 'rodada', 'jogo']
#'saldo_CD1', 'saldo_CD2', 'saldo_CD3', 'saldo_AT1', 'saldo_AT2', 'saldo_AT3', 'saldo_EmpAgr', 'saldo_EmpFer', 'saldo_EmpMaq', 'saldo_EmpSem', 'saldo_FiscalAT', 'saldo_FiscalCD', 'saldo_PrefeitoAT', 'saldo_PrefeitoCD', 'poluicao_mundial', 'selo', 'prox_taxa', 'val_taxa', 'tratamento'

In [3]:
#Inclui colunas para normalizar o banco
serie = pd.Series([])
df['saldo_CD1'] = serie
df['saldo_CD2'] = serie
df['saldo_CD3'] = serie
df['saldo_AT1'] = serie
df['saldo_AT2'] = serie
df['saldo_AT3'] = serie
df['saldo_EmpAgr'] = serie
df['saldo_EmpFer'] = serie
df['saldo_EmpMaq'] = serie
df['saldo_EmpSem'] = serie
df['saldo_FiscalAT'] = serie
df['saldo_FiscalCD'] = serie
df['saldo_PrefeitoAT'] = serie
df['saldo_PrefeitoCD'] = serie
df['poluicao_mundial'] = serie
df['selo'] = serie
df['prox_taxa'] = serie
df['val_taxa'] = serie
df['tratamento'] = serie

In [4]:
#Carrego o restante dos dados
df_acoes = pd.read_csv('acao_ambiental.txt', sep='\t')
df_imposto = pd.read_csv('imposto.txt', sep='\t')
df_multa = pd.read_csv('multa.txt', sep='\t')
df_recebe_selo = pd.read_csv('recebe_selo.txt', sep='\t')
df_transferencia = pd.read_csv('transferencia.txt', sep='\t')
df_troca_taxa = pd.read_csv('troca_taxa.txt', sep='\t')

In [5]:
#Separar venda do aluguel

df['acao'] = df['pessoa1'].apply(lambda x: 'aluguel' if x == 'EmpMaq' else'venda')

In [123]:
df['tipo_preco2'] = df['tipo_preco'].apply(lambda x: '0' if x == 'normal' else ('-5' if x == 'baixo' else ('+5' if x == 'alto' else x)))

In [131]:
df = pd.concat([df, df_acoes, df_imposto, df_multa, df_recebe_selo, df_transferencia, df_troca_taxa])

/home/karine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [132]:
df.drop(['valor'], axis=1)

,acao,jogo,objeto,parcela,pessoa1,pessoa2,poluicao_mundial,prox_taxa,rodada,saldo_AT1,...,saldo_FiscalCD,saldo_PrefeitoAT,saldo_PrefeitoCD,selo,tipo_preco,tipo_preco2,tratamento,val_taxa,valor2,valor3
0,venda,4,Soja,1.0,EmpSem,AT1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,baixo,-5,NaN,NaN,NaN,NaN
1,venda,4,Super premium,1.0,EmpFer,AT1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,baixo,-5,NaN,NaN,NaN,NaN
2,aluguel,4,Maquinas 3,1.0,EmpMaq,AT1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,baixo,-5,NaN,NaN,NaN,NaN
3,venda,4,Soja,2.0,EmpSem,AT1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,baixo,-5,NaN,NaN,NaN,NaN
4,venda,4,Super premium,2.0,EmpFer,AT1,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,baixo,-5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,nova taxa,3,NaN,NaN,CD2,NaN,NaN,2.0,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0%,NaN,NaN
22,nova taxa,3,NaN,NaN,CD2,NaN,NaN,3.0,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0%,NaN,NaN
23,nova taxa,2,NaN,NaN,AT2,NaN,NaN,1.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
24,nova taxa,2,NaN,NaN,AT2,NaN,NaN,3.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0%,NaN,NaN
25,nova taxa,2,NaN,NaN,EmpAgr,NaN,NaN,3.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0%,NaN,NaN

In [133]:
jogos = [pd.DataFrame(), pd.DataFrame(), pd.DataFrame()]
valores = [3, 5, 4]

In [134]:
a = 0
for i in range(2,5):
    for y in range(1, (valores[a]+1)):
        jogos[a] = pd.concat([jogos[a],df[(df['jogo'] == i)][df[(df['jogo']== i)]['rodada'] == y]])
    a+=1

In [112]:
sem_anterior = ''
fer_anterior = 0
def calcula_acao(acao):
    if acao == 'venda':
        produto = jogos[0].iloc[[x]]['objeto'].tolist()[0]
        empresario = jogos[0].iloc[[x]]['pessoa1'].tolist()[0]
        tipo_preco = int(jogos[0].iloc[[x]]['tipo_preco2'].tolist()[0])  
        s_pessoa1 = 0
        s_pessoa2 = 0
        poluicao = 0
        
        if empresario == 'EmpSem':
            sem_anterior = produto
            if produto == 'Soja':
                s_pessoa1 = 30+tipo_preco
                s_pessoa2 = - (30+tipo_preco)
                poluicao = 30
            elif produto == 'Arroz':
                s_pessoa1 = 20+tipo_preco
                s_pessoa2 = - (20+tipo_preco)
                poluicao = 20
            else:
                #Só pode ser hortaliças!!
                s_pessoa1 = 10+tipo_preco
                s_pessoa2 = - (10+tipo_preco)
                poluicao = 10
          #ARRUMAR A PRODUTIVIDADE      
        elif empresario == 'EmpFer':
             if produto == 'Comum':
                s_pessoa1 = 10+tipo_preco
                s_pessoa2 = - (10+tipo_preco)
                if sem_anterior == 'Hortalica':
                    vendas = 
                elif sem_anterior == 'Arroz':
                    vendas = 
                else 
                    poluicao = 60
            elif produto == 'Premium':
                s_pessoa1 = 20+tipo_preco
                s_pessoa2 = - (20+tipo_preco)
                if sem_anterior == 'Hortalica':
                    poluicao = 50
                elif sem_anterior == 'Arroz':
                    poluicao = 100
                else 
                    poluicao = 150
            else:
                #Só pode ser o super premium!!
                s_pessoa1 = 30+tipo_preco
                s_pessoa2 = - (30+tipo_preco)
                if sem_anterior == 'Hortalica':
                    poluicao = 90
                elif sem_anterior == 'Arroz':
                    poluicao = 180
                else 
                    poluicao = 270
        else:
            #Só pode ser o empresario de agrotóxico!!
            if produto == 'Comum':
                s_pessoa1 = 10+tipo_preco
                s_pessoa2 = - (10+tipo_preco)
                if sem_anterior == 'Hortalica':
                    poluicao = 20
                elif sem_anterior == 'Arroz':
                    poluicao = 40
                else 
                    poluicao = 60
            elif produto == 'Premium':
                s_pessoa1 = 20+tipo_preco
                s_pessoa2 = - (20+tipo_preco)
                if sem_anterior == 'Hortalica':
                    poluicao = 50
                elif sem_anterior == 'Arroz':
                    poluicao = 100
                else 
                    poluicao = 150
            else:
                #Só pode ser o super premium!!
                s_pessoa1 = 30+tipo_preco
                s_pessoa2 = - (30+tipo_preco)
                if sem_anterior == 'Hortalica':
                    poluicao = 90
                elif sem_anterior == 'Arroz':
                    poluicao = 180
                else 
                    poluicao = 270
        
    elif acao == "aluguel":
        #não tem nada
        produto = jogos[0].iloc[[x]]['objeto'].tolist()
    elif acao == "imposto":
        #não tem nada
        produto = jogos[0].iloc[[x]]['objeto'].tolist()
    elif acao == "multa":
        #não tem nada
        produto = jogos[0].iloc[[x]]['objeto'].tolist()
    elif acao == "selo":
        produto = jogos[0].iloc[[x]]['objeto'].tolist()
    elif acao == "transferencia":
        produto = jogos[0].iloc[[x]]['objeto'].tolist()
    elif acao == "tratamento":
        produto = jogos[0].iloc[[x]]['objeto'].tolist()
    elif acao == "nova taxa":
        produto = jogos[0].iloc[[x]]['objeto'].tolist()

In [ ]:
#df_final = pd.DataFrame([])
#for i in range(0,12):
#    df_final = pd.concat([df_final, rodadas[i]])