In [13]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv('logs.txt', delimiter='\t')

In [3]:
df.head()

,acao,pessoa1,pessoa2,parcela,objeto,tipo_preco,rodada,jogo,saldo_CD1,saldo_CD2,...,saldo_EmpSem,saldo_FiscalAT,saldo_FiscalCD,saldo_PrefeitoAT,saldo_PrefeitoCD,poluicao_mundial,selo,prox_taxa,val_taxa,tratamento
0,venda,EmpSem,AT1,1.0,Soja,baixo,1,2,600.0,600.0,...,125.0,0.0,0.0,1000.0,1000.0,50.33,NaN,NaN,NaN,NaN
1,venda,EmpAgr,AT1,1.0,SuperPremium,baixo,1,2,600.0,600.0,...,125.0,0.0,0.0,1000.0,1000.0,53.04,NaN,NaN,NaN,NaN
2,venda,EmpSem,AT1,2.0,Soja,baixo,1,2,600.0,600.0,...,150.0,0.0,0.0,1000.0,1000.0,53.37,NaN,NaN,NaN,NaN
3,venda,EmpAgr,AT1,2.0,SuperPremium,baixo,1,2,600.0,600.0,...,150.0,0.0,0.0,1000.0,1000.0,56.08,NaN,NaN,NaN,NaN
4,venda,EmpSem,AT1,3.0,Soja,baixo,1,2,600.0,600.0,...,175.0,0.0,0.0,1000.0,1000.0,56.41,NaN,NaN,NaN,NaN

In [4]:
previsores = df.drop(columns=['rodada','jogo','poluicao_mundial'])
classe = df.iloc[:, 22].values #poluicao
previsores.head()

,acao,pessoa1,pessoa2,parcela,objeto,tipo_preco,saldo_CD1,saldo_CD2,saldo_CD3,saldo_AT1,...,saldo_EmpMaq,saldo_EmpSem,saldo_FiscalAT,saldo_FiscalCD,saldo_PrefeitoAT,saldo_PrefeitoCD,selo,prox_taxa,val_taxa,tratamento
0,venda,EmpSem,AT1,1.0,Soja,baixo,600.0,600.0,600.0,585.0,...,100.0,125.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,NaN
1,venda,EmpAgr,AT1,1.0,SuperPremium,baixo,600.0,600.0,600.0,670.0,...,100.0,125.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,NaN
2,venda,EmpSem,AT1,2.0,Soja,baixo,600.0,600.0,600.0,655.0,...,100.0,150.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,NaN
3,venda,EmpAgr,AT1,2.0,SuperPremium,baixo,600.0,600.0,600.0,740.0,...,100.0,150.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,NaN
4,venda,EmpSem,AT1,3.0,Soja,baixo,600.0,600.0,600.0,725.0,...,100.0,175.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,NaN

In [5]:
#transformacao dos dados categoricos em numericos
previsores = previsores.drop(
    columns=['acao','pessoa1','pessoa2','parcela','objeto','tipo_preco','tratamento'])
previsores = pd.concat([previsores,pd.get_dummies(
    df[['acao','pessoa1','pessoa2','parcela','objeto','tipo_preco','tratamento']])], axis=1)
pd.set_option('display.max_columns', None)
previsores.head()

,saldo_CD1,saldo_CD2,saldo_CD3,saldo_AT1,saldo_AT2,saldo_AT3,saldo_EmpAgr,saldo_EmpFer,saldo_EmpMaq,saldo_EmpSem,saldo_FiscalAT,saldo_FiscalCD,saldo_PrefeitoAT,saldo_PrefeitoCD,selo,prox_taxa,val_taxa,parcela,acao_aluguel,acao_imposto,acao_multa,acao_novaTaxa,acao_selo,acao_transferencia,acao_tratamento,acao_venda,pessoa1_AT1,pessoa1_AT2,pessoa1_AT3,pessoa1_CD1,pessoa1_CD2,pessoa1_EmpAgr,pessoa1_EmpFer,pessoa1_EmpMaq,pessoa1_EmpSem,pessoa1_FiscalAT,pessoa1_FiscalCD,pessoa1_PrefeitoAT,pessoa1_PrefeitoCD,pessoa2_AT1,pessoa2_AT2,pessoa2_AT3,pessoa2_CD1,pessoa2_CD2,pessoa2_CD3,pessoa2_EmpAgr,pessoa2_EmpFer,pessoa2_EmpMaq,pessoa2_EmpSem,objeto_Arroz,objeto_Comum,objeto_Hortalica,objeto_Maquinas1,objeto_Maquinas2,objeto_Maquinas3,objeto_Premium,objeto_Pulverizador,objeto_Soja,objeto_SuperPremium,tipo_preco_alto,tipo_preco_baixo,tipo_preco_normal,tratamento_Agua,tratamento_Esgoto,tratamento_Lixo
0,600.0,600.0,600.0,585.0,600.0,600.0,100.0,100.0,100.0,125.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
1,600.0,600.0,600.0,670.0,600.0,600.0,125.0,100.0,100.0,125.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,600.0,600.0,600.0,655.0,600.0,600.0,125.0,100.0,100.0,150.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
3,600.0,600.0,600.0,740.0,600.0,600.0,150.0,100.0,100.0,150.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
4,600.0,600.0,600.0,725.0,600.0,600.0,150.0,100.0,100.0,175.0,0.0,0.0,1000.0,1000.0,NaN,NaN,NaN,3.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [11]:
#normalizacao dos dados
X = previsores
X = preprocessing.StandardScaler().fit(X).transform(X)
X

array([[-1.00362781, -0.63265552, -0.48840762, ..., -0.08571778,
        -0.0605006 , -0.07661205],
       [-1.00362781, -0.63265552, -0.48840762, ..., -0.08571778,
        -0.0605006 , -0.07661205],
       [-1.00362781, -0.63265552, -0.48840762, ..., -0.08571778,
        -0.0605006 , -0.07661205],
       ...,
       [-3.00228028, -1.02900363, -1.53070774, ..., -0.08571778,
        -0.0605006 , -0.07661205],
       [-3.00228028, -1.02900363, -1.53070774, ..., -0.08571778,
        -0.0605006 , -0.07661205],
       [-3.00228028, -1.02900363, -1.53070774, ..., -0.08571778,
        -0.0605006 , -0.07661205]])

In [ ]:
from sklearn.model_selection import train_test_split

In [14]:
Y = classe
#separaÃ§Ã£o dos dados para treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(
    X, Y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regressaoLinear = LinearRegression()
regressaoLinear.fit(x_treino, y_treino)
score = regressaoLinear.score(x_treino, y_treino)
coeficiente = regressaoLinear.coef_
intercepcao = regressaoLinear.intercept_
previsoes = regressaoLinear.predict(x_teste)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
regressaoArvores = DecisionTreeRegressor()
regressaoArvores.fit(x_treino, y_treino)
score = regressaoArvores.score(x_treino, y_treino)
previsoes = regressaoArvores.predict(x_teste)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regressaoRandomForest = RandomForestRegressor(n_estimators = 100)
regressaoRandomForest.fit(x_treino, y_treino)
score = regressaoRandomForest.score(x_treino, y_treino)
previsoes = regressaoRandomForest.predict(x_teste)

In [ ]:
from sklearn.svm import SVR

In [ ]:
regressorSVM = SVR(kernel = 'rbf')
regressorSVM.fit(x_treino, y_treino)
score = regressorSVM.score(x_treino, y_treino)
previsoes = regressorSVM.predict(x_teste)

In [ ]:
from sklearn.metrics import mean_absolute_error, confusion_matrix, accuracy_score, precision_score, f1_score, recall_score

In [ ]:
mae = mean_absolute_error(y_teste, previsoes)
f1 = f1_score(y_teste, previsoes, average = 'weighted')
recall = recall_score(y_teste, previsoes, average = 'weighted')
accuracy = accuracy_score(y_teste, previsoes)
precision = precision_score(y_teste, previsoes, average = 'weighted')
matrix = confusion_matrix(y_teste, previsoes)